<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-plugin-icon-change"
    version="0.0.1">
    <name>Cordova Plugin Icon Change</name>
    <description>Muda o icode do aplicativo</description>
    <license>MIT</license>
    <keywords>icon,change,app</keywords>

    <!-- Android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>
        <clobbers target="IconChange" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="IconChange">
          <param name="android-package" value="br.com.qualinfo.IconChange" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/br/com/qualinfo/IconChange.java" target-dir="src/br/com/qualinfo/" />
    </platform>
</plugin>
